$icomoon-font-family: 'establishment' !default;
$icomoon-font-path: '../../fonts/icons' !default;

$icon-widget-close: unquote('"\\e904"');
$icon-watch: unquote('"\\e900"');
$icon-filter: unquote('"\\e901"');
$icon-export: unquote('"\\e902"');
$icon-file: unquote('"\\e903"');
